
/*....................................................................................................................*/
/* Works in tandem with "dunp.reroot". */
/* Mostly useful if the stage's size is relative to a ratio (not pixel-based). */

:root
{
  --w: 0;
  --h: 0;
  --u: 0;
}

