
/*....................................................................................................................*/

html{font-family: sans-serif}

.mainButton{color: #CCC; background: #666}
.mainButton:hover{color: #DDD; background: #777}

.filesConfirm{background: #400}
.filesConfirm:hover{background: #600}

.storyOptionButton
{
  width: 95%;
  background: #666;
  border-radius: calc(var(--u) * 30);
}
.storyOptionButton:hover
{
  width: 100%;
  margin-left: 4%;
  background: #222;
  border-radius: calc(var(--u) * 30) 0 0 calc(var(--u) * 30);
}

.slowFadeInDelayed{animation: fadeInDelay 3s ease}
.slowFadeIn{animation: fadeIn 2s ease}
.fastFadeIn{animation: fadeIn 1s ease}

@keyframes fadeIn
{
  from{opacity: 0}
  to{opacity: 100%}
}
@keyframes fadeInDelay
{
  0%{opacity: 0}
  33%{opacity: 0}
  100%{opacity: 100%}
}
